html, body {
    background-color: black;
    color: magenta;
    text-align: center;
    font-size: large;
    font-family: 'Marcellus';
}

a {
    color: magenta;
}

.banner {
    height: 330px
    }
    img {
    width: auto; 
    max-height: 100%; 
}

.links h2 {
  display: inline;
}